html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
div#__next {
  height: 100vh;
}
.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}